body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#board {
  align-content: space-between;
  border: 1rem solid black;
  display: flex;
  flex-wrap: wrap;
  height: 16rem;
  justify-content: space-between;
  width: 16rem;
}

#board div {
  border: 1rem solid green;
  box-sizing: border-box;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.x {
  background: red;
}

.o {
  background: blue;
}
